# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.BookSimpleAPI.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Github\BookSimpleAPI\.idea\.idea.BookSimpleAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
